*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-container{
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    max-width: none;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly
}

.navbar{
    width: 100%;
}
main{
    display: flex;
    min-height: 30vh;
    background: #8b8b8b;
}

footer{
    background: #1a1a1a;
    color: #ffd700;
    border-radius: 0;
    font-size: 1.1em;
    padding: 14px 0;
    margin-top: 32px;
    box-shadow: none;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}
.contenido{
    flex: 3;
    padding: 20px;
}
.ads{
    width: 100%;
    flex: 1;
    background: #ccc;
    padding: 20px;
}
footer{
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.carousel-inner{
    height: 200px;
    width: 100%;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dropdown-menu {
    background-color: #343a40; 
}
.dropdown-menu li:hover {
    background-color: #495057; 
}
.dropdown-menu li a {
    color: white; 
    text-decoration: none; 
    display: block; 
    padding: 10px 20px; 
}
.ads{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    height: max-content; 
    font-size: 10px;
}
.ts div{
    background: inherit !important;
}